/*нормализация стилей*/
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
:where(p:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
    scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/**
  КОНЕЦ НОРМАЛИЗАЦИИ
 */


@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



:root {
    --color-yellow: #ffde00;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #f3f3f3;
    --color-dark-gray: #3b3b3b;
    --color-green: #00b912;
    --color-orange: #fd5e00;

    --font-family-base: 'Montserrat', sans-serif;

    --border-radius: 10px;

    --container-width: 1460px;
    --transition-duration: 0.3s;
}

body {
    font-family: var(--font-family-base), sans-serif;
    font-weight: 400;
    line-height: 1.75;
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a{
    text-decoration: none;
    color: var(--color-black);
}

a:hover{
    color: var(--color-dark-gray);
}

.visually-hidden {
    position: absolute !important;
    width: 1px  !important;
    height: 1px !important;
    margin: -1px  !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

/*верхний хэдер*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background-color: var(--color-white);
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: 20px;
    width: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-block: 35px;
}

.header__search {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-black);
    border-radius: 30px;
    overflow: hidden;
    flex-grow: 1;
    max-width: 250px;
    height: 30px;
    margin-inline: 30px;
}

.header__search-button {
    background: transparent url('./icons/search-icon.svg') no-repeat center center / 20px 20px;
    width: 36px;
    aspect-ratio: 1;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
}

.header__search-input {
    padding: 8px 10px;
    border: none;
    outline: none;
    width: 100%;
}

.header__info {
    flex-grow: 1;
}

.header__info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.header__cart {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 14px;
    height: 32px;
}

.header__cart-price {
    font-weight: 500;
    font-size: 14px;
}

.header__cart:hover{
    color: var(--color-yellow);
}

.header__cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
}

.header__cart-count {
    color: var(--color-black);
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
    padding: 0 5px;
}

.header__tool-profile {
    width: 24px;
    height: 24px;
    background-color: var(--color-black);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.info-item__city::before,
.info-item__phone::before,
.info-item__time::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    aspect-ratio: 1;
}

.info-item__city::before {
    background-image: url('./icons/location-icon.svg');
    width: 30px;
}

.info-item__phone::before {
    background-image: url('./icons/phone-icon.svg');
    width: 30px;
}

.info-item__time::before {
    background-image: url('./icons/clock-icon.svg');
    width: 30px;
}

.info-item__city {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/*нижний хэдер*/
.line-menu {
    background-color: var(--color-yellow);
    width: 100%;
}

.line-menu > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.line-menu__list {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}
.line-menu__catalog-button {
    display: inline-flex;
    align-items: center;
    height: 25px;
    padding-inline: 25px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: var(--color-white);
    border: none;
    border-radius: 50px;
    transition: background-color var(--transition-duration);
}

.line-menu__catalog-button:hover {
    background-color:var(--color-gray);
}


.line-menu__company-info {
    display: flex;
    gap: 20px;
    font-weight: 300;
}

.line-menu__info-link {
    text-decoration: none;
}

.line-menu__info-link.is-current {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* БАННЕРЫ */

.promo-banners {
    padding: 65px 0;
}

.promo-banners__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.promo-banners__item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    word-break: break-word;
}

/*.promo-banners__item:hover{*/
/*    transition: transform var(--transition-duration) ease;*/
/*    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);*/
/*    !*transform: translateY(-1px);*!*/
/*}*/


.promo-banners__item--big {
    color: var(--color-white);
    grid-row: span 2;
    background-image: url('./images/big-banner.png');
    width: 890px;
    height: 390px;

}

.promo-banners__item--brand {
    color: var(--color-black);
    background-image: url('./images/brand-banner.png');
    width: 550px;
    height: 190px;
}

.promo-banners__item--promotion {
    color: var(--color-white);
    background-image: url('./images/promotion-banner.png');
    width: 550px;
    height: 180px;
}

.promo-banners__title {
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
}

.promo-banners__title--big{
    font-size: 70px;
    line-height: 0.8;
    margin-left: 455px;
    margin-top: 80px;
    max-width: 330px;
}

.promo-banners__tag {
    position: absolute;
    bottom: 0;
    right: 20px;
    background-color: var(--color-green);
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding: 40px 5px 5px;
    width: 105px;
    height: 95px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
    line-height: 1.2;
}

.promo-banners__tag--little {
    font-size: 10px;
}

.promo-banners__tag--big {
    font-size: 26px;
}

.promo-banners__button--big {
    color: var(--color-white);
    text-decoration: none;
    text-transform:  uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-left: 494px;
    margin-top: 255px;
}

.promo-banners__link {
    position: absolute;
    color: var(--color-orange);
    text-decoration: underline;
    font-size: 14px;
}

.promo-banners__link--brand {
    margin-top: 160px;
    margin-left: 20px;
}

.promo-banners__title--brand {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 30px;
    max-width: 200px;
    line-height: 1;
}

.promo-banners__title--promotions {
    position: absolute;
    margin-top: 42px;
    margin-left: 375px;
    font-size: 40px;
    letter-spacing: 1px;
}

.promo-banners__text {
    position: absolute;
    margin-top: 105px;
    margin-left: 380px;
    max-width: 150px;
    line-height: 1;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}

.promo-banners__link-promotion {
    margin-top: 150px;
    margin-left: 450px;
}

/*КАТЕГОРИИ*/

.categories {
    text-align: center;
}

.categories__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: var(--font-family-base), sans-serif;
    color: var(--color-black);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.categories__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-card__link {
    position: relative;
    display: block;
    overflow: hidden;
}

.category-card__link:hover {
    transition: transform var(--transition-duration) ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
}

.category-card__image {
    width: 343px;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
}

.category-card__name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px;
    background: transparent;
    color: var(--color-black);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categories__title::before,
.categories__title::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: currentColor;
    opacity: 0.4;
}

.category-card__name::before,
.category-card__name::after {
    content: "";
    display: block;
    width: 35px;
    height: 1.5px;
    background-color: currentColor;
}

.category-card__name--two-lines{
    gap: 0 !important;
    padding: 18px 10px !important;
}